[data-theme='light'] {
  --bg-color: #fdfdfd;
  --panel-bg: #ffffff;
  --sidebar-bg: #f5f5f7;
  --text-main: #1d1d1f;
  --text-muted: #86868b;
  --border: #e5e5e7;
  --accent: #00aeef;
}

[data-theme='dark'] {
  --bg-color: #0b0a1a;
  --panel-bg: #15142b;
  --sidebar-bg: #15142b;
  --text-main: #ffffff;
  --text-muted: #94a3b8;
  --border: #2d2b52;
  --accent: #9d50bb;
}
